aiobotocore
aiohttp
aioitertools
aiosignal
argcomplete
asttokens
attrs
# -e git+ssh://git@github.com/FlowWest/bidrunner2.git@874f95b7e0b70685cc78131e957c7ca2838c8930#egg
boto3
botocore
click
colorama
decorator
executing
frozenlist
idna
ipython
jedi
jmespath
linkify-it-py
markdown-it-py
matplotlib-inline
mdit-py-plugins
mdurl
multidict
packaging
parso
pipx
platformdirs
prompt_toolkit
pure-eval
Pygments
python-dateutil
python-dotenv
rich
s3transfer
six
stack-data
textual
toml
traitlets
typing_extensions
uc-micro-py
urllib3
userpath
wcwidth
wrapt
yarl
