#main-ui {
    margin-top: 2;
    width: 40%;
    overflow-y: scroll
}

#log_ui {margin: 1; width: 60%}

#submit-aws-connection-check {margin-left: 1; margin-right:1;}
#buttons-row {margin-left: 1;}

.input-focus:focus {
    background: #273257 20%;
}

#bid-run-logs {
    border: solid orange;
    border-title-align: left;
}

.input-element {
    margin-bottom: 1;
}

Input.error {
    background: #9c4038;
}
